@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper{
    background-color: hsl(30, 38%, 92%);;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: white;
    border-radius: 20px;
    display: flex;
    height: 400px;
    width: 700px;
    overflow: hidden;
}

.label{
    font-family: "Montserrat", sans-serif;
    color: grey;
    letter-spacing: 0.3em;
}

.container h2{
    font-size: 2rem;
    margin: 0.6em 0 0.7em 0;
    font-family: "Fraunces", serif;
}

.itemDesc{
    font-family: "Montserrat", sans-serif;
    color: grey;
    margin-bottom: 1.5em;
}

.greenTxt{
    margin-right: 0.3em;
    color: hsl(158, 36%, 37%);
    font-size: 2rem;
    font-family: "Fraunces", serif;
}

.price{
    color: grey;
    font-size: 1rem;
}

.cardText{
    padding: 20px 30px;
}

.cardImage img{
  height: 100%;
}

.btn{
    background-color: hsl(158, 36%, 37%);
    margin: 3em 1em 1em 1em;
    border: 0;
    border-radius: 5px;
    height: 40px;
    width: 300px;
}

button span{
    color: white;
   margin-left: 10px;
   font-size: 1rem;
}
