*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* colors for dark mode */
    --colorMainBg: #1B4242;
    --colorSecBg: #5C8374;
    --textColorBright: white;
    --textColorDark: #EEE7DA;
    --submitButtonClr: #304D30;

    /* colors for light mode */
    --colorMainBgLight: #F2F1EB;
    --colorSecBgLight: white;
    --textColorBrightLight: black;
    --textColorDarkLight: black;
    --submitButtonClrLight: #E3F2C1;

    /* color to be changed using js, basically another approach  */
    --placeholderColor: #EEE7DA;
}

.wrapper{
    height: 100vh;
    width: 100vw;
    background-color: var(--colorMainBg);
    /* border: 3px solid white; */
}
.wrapper.light{
    background-color: var(--colorMainBgLight);
}

.container{
   width: 55%;
   margin: 0 auto;
   padding: 40px;
   /* border: 3px solid white; */
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 3px solid white; */
}

.header > h1{
    color: var(--textColorBright);
    margin-bottom: 20px;
}
.header > h1.light{
    color: var(--textColorBrightLight);
}

.theme-switch-button{
    all: unset;
    background-color: transparent;
    color: var(--textColorBright);
    display: flex;
    cursor: pointer;
}
.theme-switch-button.light{
    color: var(--textColorBrightLight);

}

.theme-switch-button > p{
    margin-right: 15px;
}

.form-container{
    position: relative;
    height: 60px;
    display: flex;
    /* justify-content: baseline; */
    align-items: center;
    background-color: var(--colorSecBg);
    border-radius: 15px;
    color: var(--textColorBright);
}
.form-container.light{
    background-color: var(--colorSecBgLight);
    color: var(--textColorBrightLight);
}

.fa-magnifying-glass{
    font-size: 1.5rem;
    margin-left: 10px;
    margin-right: 10px;
}
.inputStyle{
    all: unset;
    width: 100%;
    height: 30px;
    font-size: 1.25rem;
    /* margin-top: 8px; */
}


.inputStyle::placeholder{  
    color: var(--placeholderColor);
    /* padding-left: 50px; */
    font-size: 1.2rem; 
}

.submit-button{
    all: unset;
    /* position: absolute; */
    /* top: 10px;
    right: 10px; */
    background-color: var(--submitButtonClr);
    margin-right: 10px;
    /* padding: 10px 10px; */
    padding: 10px 20px;
    border-radius: 5px;
    color: var(--textColorDark);
    cursor: pointer;
    font-size: 18px;
}
.submit-button.light{
    background-color: var(--submitButtonClrLight);
    color: var(--textColorDarkLight);
    font-size: 15px;
}

.submit-button > p{
    opacity: 0.8;
}

/* Profile display section */

.profileDisplay{
    width: auto;
    display: flex;
    margin-top: 23px;
    background-color: var(--colorSecBg);
    padding: 4%;
    border-radius: 10px;
}
.profileDisplay.light{
    background-color: var(--colorSecBgLight);
}

.profile-image{
    height: 100px;
    width: 100px;
    border-radius: 100%;
}

.profile-section-right{
    margin-left: 40px;
    color: var(--textColorDark);
    /* width: 80%; */
    
}
.profile-section-right.light{
    color: var(--textColorDarkLight);
}

.name-joinDate{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 3px;
}

.bio-section{
    margin-top: 15px;
    margin-bottom: 30px;
}

.followers-following-repos{
    display: flex;
    padding: 25px;
    border-radius: 8px;
    background-color: var(--colorMainBg);
    color: var(--textColorBright);
    margin-bottom: 35px;
}
.followers-following-repos.light{
    background-color: var(--colorMainBgLight);
    color: var(--textColorBrightLight);
}

.card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 100px;
}

.card > p:nth-child(1){
    font-size: 12px;
    font-weight: lighter;
}
    

.card > p:nth-child(2){
    font-size: 20px;
    font-weight: bold;
}

.about-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 15px;
}

.aboutCard{
    display: flex;
    gap: 14px;
    font-size: 18px;
}
